<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <script src="https://cesium.com/downloads/cesiumjs/releases/1.130.1/Build/Cesium/Cesium.js"></script>
        <link href="https://cesium.com/downloads/cesiumjs/releases/1.130.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
        <link href="https://cesium.com/downloads/cesiumjs/releases/1.130.1/Build/Cesium/Widgets/lighter.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.6.1/build/global/luxon.min.js"></script>
        <style>
            @import url("/static/css/bucket.css");
        </style>
    </head>
    <body>
        <div id="toolbar">
            <button class="cesium-button" data-bind="click: getCamera">
                Get Camera Placement
            </button>
            <select id= "input1" data-bind="options: exampleTypes, value: currentExampleType"></select>
            <select id= "input2" data-bind="options: views, value: currentView"></select>
            <input id= "input3" type="checkbox" value="false" data-bind="checked: clippingPlanesEnabled, valueUpdate: 'input'">
            Clipping Planes
            <p class="description">This is a demo of what is possible with the viewer</p>
            <table>
                <tbody>
                    <tr>
                        <td class="header">Experimental<br>Parameters</td>
                    </tr>
                    <tr>
                        <td>Parameterx</td>
                        <td>
                            <input type="range" min="0.0" max="10.0" step="0.1" data-bind="value: parameterX, valueUpdate: 'input'">
                            <input id= "input4" type="text" size="5" data-bind="value: parameterX">
                        </td>
                    </tr>
                </tbody>
              </table>
              <p class="attribution">Data by <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, under ODbL.</p>
        </div>
    	<div id="cesiumContainer"></div>
        <script type="module" src="/static/cesium_script/csviz.js"></script>
    </body>
</html>