#toolbar {
    background: rgba(225, 225, 225, 0.5);
    margin: 5px;
    padding: 5px;
    position: absolute;
    border-radius: 4px;
    z-index:1;
}
#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}
#toolbar .header {
    font-weight: bold;
}

#toolbar .attribution {
    font-size: 10px;
}
